section{
    background-image: url('../../../../assets/Group 48101665 (1).png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
justify-content: center;
}
.reg-icon{
    color: black;
    text-decoration: none;
}