section{
    background-image: url('../../../../assets/bike3\ 2.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
justify-content: center;
}
.pss-icon{
    position: absolute;
    top: 5px;
    right: 7px;
    text-decoration: none;
    color: black;
}
