<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="auth-card p-5">
                    <div class="text-center">
                        <img src="../../../../assets/icon.svg" alt="123">
                    </div>
                    <div class="tittel">
                        <h3>Register</h3>
                        <p> please enter your details</p>
                    </div>
                    <!-- <div  [formGroup]="loginform" (ngSubmit)="whenlog(loginform)"> -->
                    <form [formGroup]="regform" (ngSubmit)="whenregister(regform)">

                        <div class="form">
                            <div class="row">
                                <div class="mb-1">
                                    <ngx-dropzone (change)="onSelect($event)">
                                        <ngx-dropzone-label>Upload img</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                            *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)"
                                            [file]="f">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                                <div class="col-md-6">
                                    <div class=" input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-mobile-screen"></i></span>
                                        <input formControlName="userName" type="text" class="form-control"
                                            placeholder="Username" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="  input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-mobile-screen"></i></span>
                                        <input formControlName="email" type="email" class="form-control"
                                            placeholder="enter your email" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class=" input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-mobile-screen"></i></span>
                                        <input formControlName="country" type="text" class="form-control"
                                            placeholder="Country" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class=" input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-mobile-screen"></i></span>
                                        <input formControlName="phoneNumber" type="tel" class="form-control"
                                            placeholder="Phone Number" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group mb-3 position-relative">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-lock"></i></span>
                                        <input formControlName="password" [type]="isHide?'password':'text'"
                                            class="form-control" placeholder=" enter Password" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                        <a class="pss-icon" (click)="isHide=!isHide"><i class="fa-solid "
                                                [class]="isHide? 'fa-eye-slash' :' fa-eye'"></i></a>


                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class=" input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-mobile-screen"></i></span>
                                        <input formControlName="confirmPassword" type="password" class="form-control"
                                            placeholder="confirm password" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>


                                <div class="d-flex justify-content-between">
                                    <a (click)="openDialog()"> Hava a code?</a>
                                    <span class="text-main ms-auto" routerLink="/auth/login">LOGIN NOW ?</span>
                                </div>
                                <button class=" w-100 m-1 p-2 rounded-3" type="submit">register</button>
                                <p class="alert alert-danger" *ngIf="erroMsg">{{erroMsg}} </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>