<section class="mt-4 rounded-2  n1">
    <div class="container">
        <div class="row  d-flex align-items-center">
            <div class="col-md-8 ">
                <h1>Welcome <span class="text-muted text-light">{{Username}}</span></h1>
                <p>This is a welcoming screen for the entry of the application , you can now see the options</p>
            </div>
            <div class="col-md-4">
                <img src="../../../../assets/Group 48102098.png" alt="123">
            </div>
        </div>
    </div>
</section>
<section class="n2 d-flex justify-content-between align-items-center mt-3 p-4" >
    
    <div class="text">
        <h3>Fill the <span class="res">Recipes !</span> </h3>
    <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
    </div>

<div>
    <button routerLink="/dashboard/admins/recipes">Fill Recipes->></button>
</div>

</section>
