.n1{
    background-color: #009247;
    color: #DFE0E0;
}
.n2{
    background-color:  #F0FFEF;
    ;
}
.res{
    color: #009247;
}
button{
    background-color: #009247;
    border: none;
    padding: 10px;
    border-radius:10px;
    color: #DFE0E0;
}
