<section class="bg-secondary-subtle mt-2 rounded-5 ">
    <div class="col-4  ms-auto">
        <div class="avatar d-flex  align-items-center  justify-content-center">
            <img src="../../../assets/Ellipse 234.png" class="p-2">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="bg-transparent">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  (click)="logout()" >
                  <mat-icon>logout</mat-icon>
                  <span>log out</span>
                </button>
                <button mat-menu-item  routerLink="/dashboard/getprofile">
                  <mat-icon>account_circle</mat-icon>
                  <a class="text-dark">profile</a>
                </button>
                <button mat-menu-item  (click)="openchangDialog()" >
                    <mat-icon>lock</mat-icon>
                    <span>change password</span>
                  </button>
              </mat-menu>
              
            <div class="text">
                <h3 class="h3">
                    {{Username}}
                    <p class="h6 text-muted">{{userrole}}</p>
                </h3>
               
            </div>
           
        </div>
    </div>

</section>
