<section class="bg-main overflow-auto vh-100 sidebar">
    <div class="text-center p-1">
        <img src="../.../../../../assets/3.svg">
    </div>
    <div class="menu ">
     <ng-container *ngFor="let items of mymenu">
        
        <a [routerLink]="items.link" routerLinkActive="active"  class="menu-item" *ngIf="items.isActive"  >
        <span class="text"><i [class]="items.icon"></i></span>
        <span>{{items.text}}</span>
    </a>

</ng-container>
        
       
  
    </div> 
</section>
