 section{
    border-top-right-radius: 58px;
 }
 .menu-item{
    display: block;
display: flex;
align-items: center;
justify-content: center;
margin: 10px 10px;
padding: 10px;
text-decoration: none;
color: #ffffffad;


}

.text{
    margin: 0 10px;
}
.active{
    background-color: rgba(0, 146, 71, 0.10);
    color: white;
    border-left:  #009247 solid 5px;
    ;
}
.sidebar {

    height: 100vh; /* Full viewport height */
 
    position: fixed; /* Fix it to the side */
    top: 0; /* Align to top of viewport */
    left: 0; /* Align to left of viewport */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
  }
